<div class="container">
  <div class="row">
    <div class="ten mobile-three columns"><h6>Title</h6></div>
    <div class="two mobile-one columns"><h6>Status</h6></div>
  </div>
  <% @items.each do |item| %>
  <div class="panel">
    <a href="<%= item_path item %>">
    <div class="row">
        <div class="ten mobile-three columns"><h5><%= item.meli_title %></h5></div>
        <div class="two mobile-one columns"><h3><i class="general foundicon-<%= 'checkmark' if item.has_stock %><%= 'remove' unless item.has_stock %>"></i><h3></div>
    </div></a>
  </div>
  <% end %>
</div>