<div class="listing">
  <div class="row title">
    <h1><%= @item.meli_title %></h1>
  </div>
  <div class="row gadgets">
    <div class="four columns">
      
    </div>
    <div class="four columns">
      <div class="panel">
        <img src="<%= url_for(@item) + '.jpg' %>">
      </div>
    </div>
    <div class="four columns">
      
        
    </div>
  </div>
</div>
