h1, h2, h3, h4, h5 ,h6 ,p ,.row h3, .row h1, .row h5, .columns h5 {
	color: #f8f8f8;
	/*rgb(52, 73, 94);*/
}

.columns h3 {
	color: white;  
}

.header {
	background-color: #16A085;
}

#nav {
	background-color: #1ABC9C;
	margin-bottom: 2px;
}

.status {
	/*padding-bottom: 5%;*/
	background-color: #2ECC71;
}

.status h5 {
	/*margin-top: 15px;*/
}

.title {
	/*padding-top: 5%;*/
	/*padding-bottom: 5%;*/
	background-color: #27AE60;
}

.item {
	background-color: #2ECC71;
	margin-bottom: 2px;
}