h1, h2, h3, h4, h5 ,h6 ,p ,.row h4, .row h3, .row h1, .row h2, .row h5, .columns h5 {
	color: #f8f8f8;
	/*rgb(52, 73, 94);*/
}

.general {
	/*position: relative;*/
}

html, body {
	background-color: #eee;
}

.columns h3 {
	color: white;  
}

.megamo {
	margin-top: 5%;
	margin-bottom: 5%;
	padding-top: 7%;
	padding-bottom: 7%;
	background-color: #27AE60;
}

.header {
	background-color: #16A085;
}

#nav {
	background-color: #1ABC9C;
	margin-bottom: 2px;
}

.status {
	/*padding-bottom: 5%;*/
	background-color: #2ECC71;
}

.status h5 {
	/*margin-top: 15px;*/
}

.title {
	/*padding-top: 5%;*/
	/*padding-bottom: 5%;*/
	background-color: #27AE60;
}

.item {
	/*background-color: #2ECC71;*/
	margin-bottom: 2px;
}